@media only screen and (min-width: 1px) {
  header {

    .mobileHeaderWrapper {
      position: sticky;
      padding: 5px 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #000;

      .mobileLogo {
        height: 50px;
        width: 50px;
      }

      .menuBarsMobile {
        font-size: 20px;
        color: #D3D3D3;
      }
    }

    .mobileNav {
      background-color: #000;
      color: white;
      position: absolute;
      height: 100vh;
      top: 0;
      left: 0;
      width: 280px;
      z-index: 3;
      transform: translateX(-280px);
      transition: all 300ms ease-in-out;
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mobileNavLogo {
        text-align: center;
      }

      .navigationLinksMobile {
        margin: 0 0 100px;
      }

      ul {
        padding: 0;


        li {
          list-style: none;
          margin: 20px 0;

          a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            transition: all 0.3s ease-in-out;
          }

          a:hover {
            color: $pink;
          }
        }
      }

      .socialLinksMobile {
        display: flex;
        justify-content: space-evenly;
      }
    }

    .overlay {
      position: fixed;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.4);
      top: 0;
      left: 0;
      opacity: 0;
      transition: all 300ms ease-in-out;
      visibility: hidden;
    }

    .mobileMenuOpen {
      transform: translateX(0);
    }

    .overlayActive {
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
  }

  main {

    .home {

      .landingPage {
        background: url('../assets/HeaderTemp.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 500px;
        padding: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 50px;

        .latestEpisodeCallToAction {

          .listenNow {
            background-color: #000;
            border: none;
            border-radius: 3px;
            padding: 10px 20px;

            a {
              text-decoration: none;
              color: #ffffff;
              transition: all 0.3s ease-in-out;
              display: flex;
              align-items: center;

              i {
                margin-left: 5px;
                color: #1DB954;
                transition: all 0.3s ease-in-out;
              }

              i:hover {
                color: #fff;
              }
            }
            a:hover {

              color: #1DB954;
            }
          }

        }
      }
    }

    .about {

      .missionStatement {
        color: #fff;
        font-size: 14px;
        margin: 0 20px;

        h4 {
          font-weight: 400;
        }

        h3 {
          font-size: 30px;
          line-height: 35px;
          font-weight: 400;
        }

        .goalWrapper,
        .philosophyWrapper {
          display: flex;
          margin: 10px 0;

          i {
            font-size: 40px;
          }

          div {
            padding-left: 10px;

            h6 {
              font-size: 16px;
              margin: 0;
              font-weight: 400;
            }

            p {
              margin: 0;
              font-size: 14px;
            }
          }
        }

        .philosophyWrapper {

          div {
            padding-left: 0;
            padding-right: 10px;

            h6,
            p {
              text-align: right;
            }
          }

        }
      }
    }

    .blog {

      .myWriting {
        color: #fff;
        font-size: 14px;
        margin: 0 20px;

        h4 {
          font-weight: 400;
        }

        .blogWrapper {

          .blog1,
          .blog2,
          .blog3 {
            text-align: center;
            position: relative;

            .blogImage {
              width: 200px;
              max-height: 200px;
            }

            .blogDateStamp {
              width: 50px;
              height: 50px;
              padding: 10px;
              margin: auto auto;
              position: absolute;
              right: calc(50% - 25px);
              bottom: 30px;
              background-color: white;
              color: black;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}