html {
  background-color: #000;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media only screen and (min-width: 1px) {
  header .mobileHeaderWrapper {
    position: -webkit-sticky;
    position: sticky;
    padding: 5px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #000;
  }
  header .mobileHeaderWrapper .mobileLogo {
    height: 50px;
    width: 50px;
  }
  header .mobileHeaderWrapper .menuBarsMobile {
    font-size: 20px;
    color: #D3D3D3;
  }
  header .mobileNav {
    background-color: #000;
    color: white;
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    width: 280px;
    z-index: 3;
    -webkit-transform: translateX(-280px);
            transform: translateX(-280px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    padding: 30px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .mobileNav .mobileNavLogo {
    text-align: center;
  }
  header .mobileNav .navigationLinksMobile {
    margin: 0 0 100px;
  }
  header .mobileNav ul {
    padding: 0;
  }
  header .mobileNav ul li {
    list-style: none;
    margin: 20px 0;
  }
  header .mobileNav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  header .mobileNav ul li a:hover {
    color: #FEC8D8;
  }
  header .mobileNav .socialLinksMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  header .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    visibility: hidden;
  }
  header .mobileMenuOpen {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .overlayActive {
    z-index: 2;
    opacity: 1;
    visibility: visible;
  }
  main .home .landingPage {
    background: url("../assets/HeaderTemp.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    padding: 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-bottom: 50px;
  }
  main .home .landingPage .latestEpisodeCallToAction .listenNow {
    background-color: #000;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
  }
  main .home .landingPage .latestEpisodeCallToAction .listenNow a {
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .home .landingPage .latestEpisodeCallToAction .listenNow a i {
    margin-left: 5px;
    color: #1DB954;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  main .home .landingPage .latestEpisodeCallToAction .listenNow a i:hover {
    color: #fff;
  }
  main .home .landingPage .latestEpisodeCallToAction .listenNow a:hover {
    color: #1DB954;
  }
  main .about .missionStatement {
    color: #fff;
    font-size: 14px;
    margin: 0 20px;
  }
  main .about .missionStatement h4 {
    font-weight: 400;
  }
  main .about .missionStatement h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 400;
  }
  main .about .missionStatement .goalWrapper,
  main .about .missionStatement .philosophyWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
  }
  main .about .missionStatement .goalWrapper i,
  main .about .missionStatement .philosophyWrapper i {
    font-size: 40px;
  }
  main .about .missionStatement .goalWrapper div,
  main .about .missionStatement .philosophyWrapper div {
    padding-left: 10px;
  }
  main .about .missionStatement .goalWrapper div h6,
  main .about .missionStatement .philosophyWrapper div h6 {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
  }
  main .about .missionStatement .goalWrapper div p,
  main .about .missionStatement .philosophyWrapper div p {
    margin: 0;
    font-size: 14px;
  }
  main .about .missionStatement .philosophyWrapper div {
    padding-left: 0;
    padding-right: 10px;
  }
  main .about .missionStatement .philosophyWrapper div h6,
  main .about .missionStatement .philosophyWrapper div p {
    text-align: right;
  }
  main .blog .myWriting {
    color: #fff;
    font-size: 14px;
    margin: 0 20px;
  }
  main .blog .myWriting h4 {
    font-weight: 400;
  }
  main .blog .myWriting .blogWrapper .blog1,
  main .blog .myWriting .blogWrapper .blog2,
  main .blog .myWriting .blogWrapper .blog3 {
    text-align: center;
    position: relative;
  }
  main .blog .myWriting .blogWrapper .blog1 .blogImage,
  main .blog .myWriting .blogWrapper .blog2 .blogImage,
  main .blog .myWriting .blogWrapper .blog3 .blogImage {
    width: 200px;
    max-height: 200px;
  }
  main .blog .myWriting .blogWrapper .blog1 .blogDateStamp,
  main .blog .myWriting .blogWrapper .blog2 .blogDateStamp,
  main .blog .myWriting .blogWrapper .blog3 .blogDateStamp {
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: auto auto;
    position: absolute;
    right: calc(50% - 25px);
    bottom: 30px;
    background-color: white;
    color: black;
    border-radius: 50%;
  }
  main .episodes .latestPodcast {
    color: #fff;
    font-size: 14px;
    margin: 0 20px;
  }
  main .episodes .latestPodcast iframe {
    max-width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
/*# sourceMappingURL=styles.css.map */